// Gama de colores
escuela-digital = #2A4E6C

desarrollo-section-background = #eee

// # Iteraciones
// 3 - Tercios
// 6 - Sextos
// 8 - Octavos

iteraciones = 3 6 8


// Medidas de los dispositivo
// Medidas fijas
medida-movil = 480px
medida-table = 768px
medida-web   = 1024px

// Medidas a partir de
medida-desde-movil = medida-movil
medida-desde-table = medida-table
medida-desde-web   = medida-web

// Medidas hasta
medida-hasta-movil = (medida-movil - 1px)
medida-hasta-table = (medida-table - 1px)
medida-hasta-web   = (medida-web - 1px)